<div class="row">
  <div class="col-md-12 text-center">
    <p class="lead">Blegex is a tool that lets you work on content while not working on content</p>
    <p>
      <a href="#/register" class="btn btn-lg btn-success">Register</a>
    </p>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <span class="medium-octicon octicon-eye"></span>
    <h3>Watches the internet</h3>
    <p>Creates initial drafts of blogs, by watching the internet.</p>
  </div>
  <div class="col-md-5">
    <span class="medium-octicon octicon-clippy"></span>
    <h3>Monitors your clipboard</h3>
    <p>Can upload your clipboard to your open draft.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <span class="medium-octicon octicon-light-bulb"></span>
    <h3>Intelligently detects content</h3>
    <p>Detects clipboard content types like text, code, files or images.</p>
  </div>
  <div class="col-md-5">
    <span class="medium-octicon octicon-tag"></span>
    <h3>Automates links and tagging</h3>
    <p>Maintains tags and links for drafts by analyzing at the content.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <span class="medium-octicon octicon-database"></span>
    <h3>Makes content searchable</h3>
    <p>Lets you search in all draft data.</p>
  </div>
  <div class="col-md-5">
    <span class="medium-octicon octicon-zap"></span>
    <h3>Exports &amp; is extendable</h3>
    <p>Exports to markdown or external tools, can be extended with Java.</p>
  </div>
</div>